<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>西祠前端自动化构建平台</title>
	<link rel="stylesheet" href="<%= STATIC_SERVER %>/basecss/src/base.css">
	<link rel="stylesheet" href="<%= STATIC_SERVER %>/basecss/src/tools.css">
	<script src="<%= STATIC_SERVER %>/fileuploader/src/main.js"></script>
	<script src="<%= STATIC_SERVER %>/ajax/src/main.js"></script>
	<script src="<%= STATIC_SERVER %>/utils/date/src/main.js"></script>
	<script src="<%= SOCKETIO_SERVER %>/socket.io/socket.io.js"></script>
	<script>SOCKETIO_SERVER = '<%= SOCKETIO_SERVER %>';</script>
</head>
<body>
<header class="header">
	<div class="wrap">
		<h1>西祠前端自动化构建平台</h1>
		<h2>代码压缩</h2>
	</div>
</header>
<section class="main">
	<div class="wrap">
		<menu class="main-menu l">
			<ul>
				<li class="on"><a href="###">代码压缩</a></li>
				<li><a href="###">代码压缩</a></li>
				<li><a href="###">代码压缩</a></li>
				<li><a href="###">代码压缩</a></li>
				<li><a href="###">代码压缩</a></li>
				<li><a href="###">代码压缩</a></li>
			</ul>
		</menu>
		<div class="main-page clearfix">
			<div id="J_console" class="page-box page-console l"></div>
			<div class="page-box page-history r">
				<h4>历史记录</h4>
				<ol id="J_history">
					<!-- <li><a href="#">xici.ui.common.js</a><time>2014-1-3 12:00:00</time></li> -->
				</ol>
			</div>
			<form id="J_form" action="/upload" method="post" enctype="multipart/form-data" class="form-console clearfix l">
				<span class="input-file l">
					选择要压缩的js文件
					<input id="J_file" type="file" name="file"/>
				</span>
				<span class="input-file r" onclick="uploader.upload();">异步提交</span>
				<!-- <span class="input-file r" onclick="form.submit();">同步提交</span> -->
				<!-- <input id="J_encoding" class="mini" placeholder="编码" id="Encoding" type="text" name="encoding" value=""/>
				<span class="tip_info">默认编码：UTF8</span> -->
			</form>
			<div class="form-history r">
				<span class="input-btn r">下载</span>
			</div>
		</div>

	</div>
</section>
<footer class="footer">
	<p class="wrap">Copyright&copy;2014 XICI UED. All rights reserved.</p>
</footer>

	<script>
	var historyWrapper = document.getElementById('J_history');
	function ajaxHistory(){
		ajax({
			url : '/history',
			success : function(resp){
				if(resp.r){
					var len = resp.b.length;
					var back = ''
					for(var i = 0; i<len ; i++){
						back += '<li><a href="'+resp.b[i].url+'" target="_blank">'+resp.b[i].fileName+'</a> <time>'+date.printTime(resp.b[i].createdAt)+'</time></li>';
					}
					historyWrapper.innerHTML = back;
				}
			}
		});
	}
	ajaxHistory();

	var form = document.getElementById('J_form');
	var inputEncoding = document.getElementById('J_encoding');
	var uploader = new FileUpload({
		url : '/upload',
		fileTypes : 'js|zip',
		onCompleted : function(resp){
			console.info(resp);
			ajaxHistory();
		},
		onFileSelected : function(key, file){
			// console.info(key, file);
		},
		beforeUpload : function(o){
			this.addField('encoding', inputEncoding.value);
		}
	});

	var consoleArea = document.getElementById('J_console');
	function showMsg(msg){
		var origin = consoleArea.innerHTML;
		if(!origin){
			consoleArea.innerHTML = msg;
		}else{
			consoleArea.innerHTML = origin + '<br />' + msg;
		}
	}

	document.getElementById('J_file').onchange = function(e){
		if(e.target.files.length){
			var file = e.target.files[0];
			// console.info(file);
			uploader.addFile('file', file, this);
			// uploader.upload();
		}
	}

	var socket = io.connect(SOCKETIO_SERVER);
	socket.on('message', function(data){
		showMsg(data.msg);
	});
	</script>

</body>
</html>	